@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

:root {
  --cor-1: #f3f3f3;
  --cor-2: #282828;
  --cor-p1: #0b5312;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 1920;
  height: 1080;
  background-color: var(--cor-1);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}

.container-item {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  background-color: var(--cor-1);
  width: 450px;
  height: 700px;
  margin: 0 auto;
  box-shadow: -8px -8px 20px #ffffff, 8px 8px 20px rgba(199, 199, 199, 0.5);
  border-radius: 10px;
}

.container-item h1 {
  text-align: center;
  font: normal 500 36px "Lobster";
  padding-top: 17px;
  color: #282828;
}

.container-resultado {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 390px;
  height: 181px;
  margin-bottom: 8px;
  background: var(--cor-1);
  border-radius: 10px;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.25),
    4px 4px 10px rgba(211, 211, 211, 0.25), inset -4px -4px 10px #ffffff,
    inset 4px 4px 10px rgba(199, 199, 199, 0.5);
}

#resultado {
  font: normal 400 48px "Open Sans", sans serif;
  max-width: 13ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-item .shadow button {
  background: var(--cor-1);
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.25),
    4px 4px 10px rgba(211, 211, 211, 0.25), inset -4px -4px 10px #ffffff,
    inset 4px 4px 10px rgba(199, 199, 199, 0.5);
}

.container-item .container-botao {
  display: grid;
  margin: 0 auto;
}

#icone .imagem img {
  width: 24px;
  color: #fff;
}

.container-botao button:hover {
  color: #fff;
  cursor: pointer;
  border: 1.5px solid #ffffff;
}

.container-botao button {
  width: 90px;
  height: 49px;
  margin: 9px 5px;
  font: normal 600 24px "Open Sans", sans serif;
  border: none;
  border-radius: 10px;
  border: 1px solid transparent;
}
.container-botao .row {
  grid-column-start: 16;
}

.color {
  color: var(--cor-2);
  background: #7ae9e9;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.25),
    4px 4px 10px rgba(211, 211, 211, 0.25), inset -4px -4px 10px #b0ffff,
    inset 4px 4px 10px rgba(15, 123, 123, 0.5);
}

.color1 .color:hover {
  color: var(--cor-1);
}

@media (max-width: 650px) {
  .container-item {
    width: 350px;
    height: 600px;
    
    grid-template-rows: repeat(4, 1fr) !important;
  }
  .container-botao button {
    width: 60px;
    height: 40px;
    margin: 6px 6px;
    font: normal 600 18px "Open Sans", sans serif;
  }
  .container-resultado {
    width: 290px;
    height: 181px;
    margin-bottom: 15px;
  }
  #icone .imagem img {
    width: 18px;
  }
  .shadow {
    display: inline-block;
  }
  .botao3 {
    width: 132px !important;
  }
  .botao2 {
    height: 92px !important;
  }
}
